.button {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 3%;
  right: 3%;
  background-color: rgb(33, 47, 122);
  border: 2px solid rgb(33, 47, 122);
  border-radius: 50%;
  font-size: 22px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.button__icon {
  animation: arrow-up 1s linear infinite;
}

@keyframes arrow-up {
  0% {
    transform: translateY(-1px);
  }
  45% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-1px);
  }
}
