.button {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 80px;
  right: 3%;
  background-color: rgb(33, 47, 122);
  border: 2px solid rgb(33, 47, 122);
  border-radius: 50%;
  font-size: 22px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  transition: 0.3s ease-in-out;
}
.button:hover {
  background-color: rgb(15, 20, 49);
  border-color: rgb(15, 20, 49);
  transform: translateY(-3px);
}
@media (min-width: 768px) {
  .button {
    bottom: 8%;
  }
}
