.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 300px;
  margin: 0 auto;
}

.search__button {
  padding: 12px;
  background-color: rgb(33, 47, 122);
  border: 2px solid rgb(33, 47, 122);
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.search__button:hover {
  background-color: rgb(15, 20, 49);
  border: 2px solid rgb(15, 20, 49);
  border-radius: 10px;
}

.search__input {
  margin-right: 10px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  border-bottom: 2px solid rgb(33, 47, 122);
  outline: none;
  transition: 0.3s ease-in-out;
}
